body{
    font: 20px Arial, sans-serif;
}
.navbar{
    background-color: rgba(152, 210, 236, 0.664)
}

.formatacao{
    background-color: rgb(85, 126, 240);
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.manutencao{
    background-color: rgb(52, 64, 226);  
}

.bgfooter{
    background-color: cadetblue;
}